/* body */
body{
    min-width: 1224px;
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(68.15deg, #576545 16.62%, #342356 85.61%);
    
  }
  
  
  
  
  
  